@page
@model LaboratoryPosts.Pages.AdministrativePanelModel
@{
    ViewData["Title"] = "AdministrativePanel";
}

<h1>Painel administrativo</h1>


<div class="form-group">
    <input class="btn btn-success" value="Criar novo" />
</div>
<table class="table table-striped table-hover">
    <thead>
        <tr class="success">
            <th>
                ID
            </th>
            <th>
                Nome
            </th>
            <th>
                Nome cientifico
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                3
            </td>
            <td>
                Nome 3
            </td>
            <td>
                arovereris verderes 3
            </td>
            <td>
                <a asp-action="Edit">Editar</a> |
                <a asp-action="Details">Detalhes</a> |
                <a asp-action="Delete">Deletar</a>
            </td>
        </tr>
    </tbody>
</table>