@page
@model IndexModel
@{
    ViewData["Title"] = "Pagina principal";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo(a)</h1>
    <p>Aprenda a desenvolver em .NET core na <a href="https://docs.microsoft.com/aspnet/core">documentação oficial</a> da Microsoft.</p>
</div>
