@page
@model PrivacyModel
@{
    ViewData["Title"] = "Política de privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Este website foi desenvolvido para a disciplina de laboratório de software pelos academicos Eduardo lunelli, Lucas Klein e Felipe Rossi, alunos do curso de ciencia da computação na Universidade de Caxias do Sul.</p>
