@page
@model LaboratoryPosts.Pages.VizualizationModel
@{
    ViewData["Title"] = "Vizualization";
}

<div class="container">
    <a class="links" id="paracadastro"></a>
    <a class="links" id="paralogin"></a>

    <div class="content">        
        <div id="Consulta">
            <form method="post" action="">
                <h2><label>Araucaria</label></h2>
                <h5><label>Araucaria angustifolia</label></h5>

                <div id="myCarousel" class="carousel slide col-md-4" data-ride="carousel" data-interval="6000">
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="https://cdn-cv.r4you.co/wp-content/uploads/2019/10/Araucaria-1068x712.jpg" class="img-responsive" />
                        </div>
                        <div class="item">
                            <img src="https://www.floresefolhagens.com.br/wp-content/uploads/2015/05/araucaria-araucaria-angustifolia-768x512.jpg" class="img-responsive" />
                        </div>
                        <div class="item">
                            <img src="http://s2.glbimg.com/uBu9tLK6qS_nlIq-sMzkazjAXxs=/620x465/s.glbimg.com/jo/g1/f/original/2014/01/30/araucaria.jpg" class="img-responsive" />
                        </div>
                    </div>
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </form>
        </div>
    </div>

</div>
<div class="col-md-4">
    <p align="justify">
        <label for="Texto">A araucária (nome científico: Araucaria angustifolia) é a espécie arbórea dominante da floresta ombrófila mista, ocorrendo majoritariamente na região Sul do Brasil, mas também sendo encontrada no leste e sul do estado de São Paulo, sul do estado de Minas Gerais, principalmente na Serra da Mantiqueira, na Região Serrana do estado do Rio de Janeiro e em pequenos trechos da Argentina e Paraguai, sendo conhecida por muitos nomes populares, entre eles pinheiro-brasileiro e pinheiro-do-paraná; é também chamada pelo nome de origem indígena, curi. A espécie foi inicialmente descrita como Columbea angustifolia Bertol. 1819.</label>
    </p>
</div>
