@page
@model LaboratoryPosts.Pages.VizualizationModel
@{
    ViewData["Title"] = "Vizualization";
}

<div class="container">
    <a class="links" id="paracadastro"></a>
    <a class="links" id="paralogin"></a>

    <div class="content">
        <!--FORMULÁRIO DE LOGIN-->
        <div id="Consulta">
            <form method="post" action="">
                <h2><label>Nome Arvore</label></h2>
                <h5><label>Nome Cientifico</label></h5>

                <ul class="slider">
                    <li>
                        <img src="images/1.jpg" />
                    </li>
                    <li>
                        <img src="images/1.jpg" />
                    </li>
                    <li>
                        <img src="images/1.jpg" />
                    </li>
                </ul>
                <p>
                    <label for="Texto">Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto .</label>
                </p>

                <p>

            </form>
        </div>

    </div>
</div>